@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

html{ 
    width: 100%;
    height: 100%;
}

body{
    background-color: rgb(0, 0, 0);
    font-family:'Heebo';
    font-size: 14px;
}


nav{
    position: absolute;
    top: 80px;
    left: 15px;
    display: flex;
    justify-content: center;
}
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Adicionado para permitir que os botões quebrem para a próxima linha */
    justify-content: center;
    
}
 
.quadro {
    position: absolute;
    top: 250px;
    left: 5px;
    width: 365px;
    height: 300px;
    margin-top: 1;
    display: flex;
    box-sizing: border-box;
    background-color: rgb(99, 99, 99);
    border: 5px rgb(0, 0, 0);
    padding: 1%;
}

#mynetwork {
    position: absolute;
    top: 50px;
    right: 5px;
    width: 900px;
    height: 500px;
    display: relative;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(200, 200, 200);
    /*margin: 20px auto; /* Adicionado para centralizar o grafo */
}

/* Estilo para destacar o botão ativo */
.active-button {
    background-color: #1c9d52;
    color: white;
}

.desfecho-texto{  
    position:absolute;
    bottom: 0;  
    left: 35%;
    justify-content: center;
    display: flex;
    font-size: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 22px;
}
ill{
    position: absolute;
    bottom: 80px;
    left: 625px;
    margin-top: 5px;
    justify-content: center;
    display: flex;
}

div.relative {
    position: relative;
    margin-left: 10%;
    width: 1280px;
    height: 680px;
    border: 3px solid #73AD21;
} 